.cards{
  max-width: 754px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px 113px;
}

@media screen and (max-width: 480px){
  .cards{
    max-width: 230px;
    gap: 16px;
  }
}
